<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aiteaching.mapper.RolePermissionMapper">

    <insert id="insertBatch">
        INSERT INTO sys_role_permission (role_id, permission_id, created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permissionId}, NOW())
        </foreach>
    </insert>

</mapper> 