<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aiteaching.mapper.UserRoleMapper">

    <insert id="insertBatch">
        INSERT INTO sys_user_role (user_id, role_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId}, NOW())
        </foreach>
    </insert>

</mapper> 